<h1>New Users Page</h1>
<%= form_with do |f|%>
<%= f.label :Firstname %>
<%= f.text_field :first_name %>
<%= f.label :Lastname %>
<%= f.text_field :last_name %>
<%= f.label :Email %>
<%= f.email_field :email %>
<%= f.label :Password %>
<%= f.password_field :password %>
<%= f.label :PasswordConfirmation %>
<%= f.password_field :password_confirmation %>
<%= f.submit :Create %>
<% end %>
